@using StrongMe.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about building your body.</p>
    <div class="row">
        <div class="col-md-8 offset-md-2">
                <img class="img-fluid home-img" src="/images/background.jpg" alt="Strong Me" />
        </div>
    </div>
</div>
