@model StrongMe.Web.ViewModels.Trainee.Trainings.TrainingInputModel
@{
    this.ViewData["Title"] = "Edit training";
    var personalPrograms = this.Model.PersonalPrograms.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post" id="editForm" enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonalProgramId"></label>
        <select asp-for="PersonalProgramId" class="form-control" asp-items="personalPrograms"></select>
        <span asp-validation-for="PersonalProgramId" class="text-danger"></span>
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="TraineeId" />
    <input type="submit" class="btn btn-primary" value="Save changes" />
</form>